
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* CREO LA CLASSE SQUARE */
.square{
    background-image: url(../img/sand.jpg);
    background-size: cover;
    border: 2px solid #4d2d06;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}

.clicked{
    background-image: url(../img/sand-shells.jpg);
    background-size: cover;
}

.bomb{
    background-image: url(../img/fire.jpg);
}

#griglia{
    width: 1000px;
    height: 1000px;
}
 

.bg-light-brown{
    background-color: #E6B16F;
}

.bg-dark-brown{
    background-color: #382104;
}

